.content {
  display: grid;
  justify-items: center;
}

.video {
  width: 600px;
  height: 337.5px;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

.fe-pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.toolbar {
  padding-left: 5px;
  margin-left: 5px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 150%;
  font-weight: bolder;
  color: #ff7f50;
  border-left: 4px solid #ff7f50;
}

.logo {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../assets/SmashBall.svg');
}
