@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Source Code Pro', monospace;
  color: #dfe4ea;
  background-color: #2f3542;
}

h1 {
  font-family: 'Source Code Pro', monospace;
}

.mat-form-field-label {
  color: white !important;
}

.mat-button-wrapper {
  color: #2f3542;
  font-family: 'Source Code Pro', monospace !important;
  font-weight: bolder;
}

.toolbar {
  font-family: 'Source Code Pro', monospace !important;
}